[contenteditable] {
    outline: none !important;
}

#wpadminbar #wp-admin-bar-edit-live > .ab-item:before {
    content: '\f464';
    top: 2px;
}

#frontend-editor {
    border-left: 1px solid #666666;
    float: left;
    border-right: 1px solid #666666;
}

@media only screen and (max-width: 600px) {
    #wpadminbar ul#frontend-editor {
        background: #23292d;
    }
}

@media only screen and (max-width: 600px) {
    #frontend-editor li:first-child .ab-item {
        text-indent: -100000000px;
    }

    #frontend-editor .parent-element {
        width: 40px;
        height: 40px;
    }

    #frontend-editor .parent-element:before {
        content: '';
        font: normal 32px/1 dashicons;
        top: 7px;
        width: 40px;
        height: 40px;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        height: 40px;
        content: "\f464";
        top: 2px;
    }
}

#frontend-editor .child-element {
    display: none;
}

.hd-pop {
    position: fixed;
    min-width: 200px;
    background: rgba(0, 0, 0, 0.72);
    color: #FBFBFB;
    line-height: 50px;
    font-weight: 700;
    top: 10px;
    right: 20px;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 16px;
    z-index: 999;
}
